html,
body {
  margin: 0;
  font-weight: 500;
  line-height: 1.4;
  color: rgb(84, 82, 82);
  font-family: Arial, Helvetica, sans-serif, "Helvetica Neue";
}

.content-wrapper {
  background-color: rgb(227, 227, 227);
}

.breadCrumb-link {
  color: rgb(93, 93, 99);
  font-weight: 600;
  font-size: .9rem;
}

.breadCrumb {
  background-Color: white;
  border-radius: 5px;
  border: 1px lightgrey;
  box-shadow: 0px 0px 10px lightgrey;
}

tbody>tr:hover td {
  background-color: rgba(219, 218, 217, .6);
}

tbody[data-test=table-body] td,
tbody[data-test=table-body] td * {
  font-size: .8rem;
}

tbody[data-test=table-body] td audio {
  width: 100%;
  height: 20px;
  outline: none;
}

tbody[data-test=table-body] td a {
  color: rgb(17, 105, 153) !important;
}
